# Node modules (para todos los proyectos)
**/node_modules/

# Carpetas de Expo (en todos los proyectos)
**/.expo/
**/.expo-shared/

# Archivos de logs (generales y específicos de cada proyecto)
*.log
*.tlog
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# macOS
.DS_Store

# Configuración de IDEs (como VS Code o IntelliJ)
**/.vscode/
**/.idea/

# Carpetas de Android en cada proyecto
**/android/
**/*.apk

# Carpetas de iOS en cada proyecto
**/ios/
**/*.xcworkspace
**/*.xcodeproj

# Archivos de configuración sensibles
**/.env
**/.env.local
**/.env.*.local

# Archivos generados (build, dist, etc.)
**/dist/
**/build/

# Otros archivos que desees excluir
*.tmp
